.container{
    padding-top: 100px;
    width:100%;
    display: flex;
    form{
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #fff;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }
}