<header>
    <div class="container">
        <h2>Отримати допомогу в дорозі легко!</h2>
        <p>Підключись до нашого <a href='#'>Телеграм каналу</a> або скористайся <a routerLink='/authorization'>сайтом</a></p>
    </div>
</header>
<main>
    <section class="categories">
        <h2>Цей сервіс розроблено для вас, якщо ви</h2>
        <div class="container">
            <div class="category_item">
                <div class="category_icon">
                    <div class="flaticon-tv"></div>
                </div>
                <div class="category_desc">
                    <h5>Водіч</h5>
                    <ul>
                        <li>Безкоштовно</li>
                        <li>Швидка допомога</li>
                        <li>Власний учет</li>
                        <li>Легкість у використанні</li>
                    </ul>
                </div>
            </div>
            <div class="category_item">
                <div class="category_icon">
                    <div class="flaticon-data"></div>
                </div>
                <div class="category_desc">
                    <h5>Автомеханік</h5>
                    <ul>
                        <li>Постійні замовлення</li>
                        <li>Моніторінг найближчих клієнтів</li>
                        <li>Зручний інтерфейс</li>
                        <li>Підтримка клієнтів</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>