<footer>
    <div class='links'>
        <div class='resources item'>
            <h3>Ресурси</h3>
            <ul>
                <li><a routerLink='/about'>Про нас</a></li>
                <li><a routerLink='/resources'>Список ресурсів</a></li>
                <li><a routerLink='/blog'>Блог</a></li>
            </ul>
        </div>
        <div class='help item'>
            <h3>Допомога</h3>
            <ul>
                <li><a routerLink='/driver'>Водіям</a></li>
                <li><a routerLink='/mechanics'>Автомеханікам</a></li>
                <li><a routerLink='/report'>Виказ про проблеми</a></li>
            </ul>
        </div>
        <div class='community item'>
            <h3>Спільнота</h3>
            <ul>
                <li><a routerLink='/events'>Події</a></li>
                <li><a href='#'>Твіттер</a></li>
                <li><a href='#'>Фейсбук</a></li>
            </ul>
        </div>
    </div>
    <!-- <div class='lic'>
        <p>some lic</p>
    </div> -->
</footer>